.ig-clone__post {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px lightgrey solid;
    border-radius: 5px;
    margin: 50px auto 0;
}

.ig-clone__post__poster-info {
    display: flex;
    align-items: center;
    width: 95%;
    margin: 15px auto;
}

.ig-clone__post__poster-info__dp {
    width: 5%;
    margin-right: 1%;
}

.ig-clone__post__poster-info__dp > img{
    border-radius: 100%;
}

.ig-clone__post__poster-info__acct {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 10px 1.5% 10px;
}

.ig-clone__post__icons {
    width: 95%;
    margin: 10px auto;
}

.ig-clone__post__icons input[type="image"] {
    max-width: 24px;
    margin-right: 3.75%;
}

.ig-clone__post__likes {
    width: 95%;
    font-size: 1.4rem;
    margin: 0 auto 10px;
}

.ig-clone__post__likes__count {
    font-weight: bold;
    cursor: pointer;
}

.ig-clone__post__time-passed {
    width: 95%;
    font-size: 1rem;
    color: silver;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid silver;
    margin: 0 auto 15px;
}

.ig-clone__post__new-comment {
    width: 95%;
    padding: 10px 0 20px;
    
    margin: auto;
}

.ig-clone__post__new-comment > textarea {
    flex-grow: 1;
    display: flex;
    width: 100%;
    height: auto;
    max-height: 80px;
    resize: none;
    background: 0;
    font-family: "Calibri";
    font-size: 1.8rem;
    border: none;
    outline: 0;
}